:root {
  --header-bg: #202124;
  --terminal-bg: #202124;
  --terminal-fg: #fff;
  --terminal-muted: #555;
  --terminal-time: #aaa;
  --terminal-user-history: #fbbc05;
  --terminal-user-input: #fff;
  --terminal-buttons-bg: #20212499;
  --terminal-buttons-fg: #fff;
  --terminal-border: #777;
}

.MuiGrid-root {
    padding: 6px;
    padding-top: 0 !important;
    padding-right: 6px;
    padding-bottom: 0 !important;
    margin-top: 6px !important;
}

.terminalOutput {
    position: relative;
    height: calc(100vh - 240px);
    min-height: 10em;
    padding: 0;
    margin: 0;
}

.terminalButtons {
    position: absolute;
    right: 0;
    margin: 0;
    margin-right: 1vw;
    padding: 0;
    background: var(--terminal-buttons-bg);
    color: var(--terminal-buttons-fg);
}

.terminalButtons > button {
    color: var(--terminal-buttons-fg) !important;
}

.terminalButtons > button.Mui-disabled {
    color: var(--terminal-muted) !important;
}

.terminalButtons > button.MuiButtonGroup-groupedTextHorizontal:not(:last-child) {
    border-color: var(--terminal-border) !important;
}

.codeContainer {
    height: 100%;
    width: 100%;
    background: var(--terminal-bg);
    border-radius: 4px;
    padding: 0;
    margin: 0;
    display: flex;
    overflow: auto scroll;
    flex-direction: column-reverse;
    resize: vertical;
}

.codeContainer::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.codeContainer::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

.codeContainer::-webkit-scrollbar-thumb {
    background: var(--terminal-muted);
}

.codeContainer::-webkit-scrollbar-corner {
    background: transparent;
    border-radius: 4px;
}

.codeContainer::-webkit-resizer {
    display: none;
}

code {
    margin: .5rem;
    padding: 0;
    font-family: "0xProto", monospace;
    font-weight: 400;
    color: var(--terminal-fg);
    font-variant-ligatures: normal;
    font-feature-settings: "liga" 1, "calt" 1;
}

code > p {
    margin: 5px;
    padding: 0;
}

code > p:has(span.userInput) {
    border-bottom: 1px solid var(--terminal-user-history);
    padding-bottom: 0.25em;
}

span.time {
    font-weight: 300;
    color: var(--terminal-time);
    display: inline;
    margin-right: 0.5em;
}

span.output {
    color: var(--terminal-fg);
}

span.userInput {
    color: var(--terminal-user-history);
    font-weight: 700;
    display: inline;
    border-bottom: none;
}
