.buttonLabel {
  display: inline-flex;
  align-items: center;
  margin-left: 0.5em;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1;
  padding: 0;
  padding-left: 0.5rem;
  margin-top: 1px;
}
