on:
  push:
  pull_request:
  workflow_dispatch:

name: "Shellcheck"
permissions: {}

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Cache shellcheck download
        id: cache-shellcheck-v0_11
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7
        with:
          path: ~/shellcheck
          key: ${{ runner.os }}-shellcheck-v0_11

      - name: Download shellcheck
        if: steps.cache-shellcheck-v0_11.outputs.cache-hit != 'true'
        shell: bash
        env:
          INPUT_VERSION: "v0.11.0"
        run: |
          curl -L#o ~/sc.tar.xz "https://github.com/koalaman/shellcheck/releases/download/${INPUT_VERSION}/shellcheck-${INPUT_VERSION}.linux.x86_64.tar.xz"
          tar -xvf ~/sc.tar.xz -C ~
          mv ~/shellcheck-"${INPUT_VERSION}"/shellcheck ~/shellcheck

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 1

      - name: Shellcheck scripts
        shell: bash
        run: 'find . -type f -name "*.sh" -print0 | xargs -0 ~/shellcheck'
